h1 {
    text-align: center;
    padding: 20px 0;
}

#card {
    width: 400px;
    height: 250px;
    border: 1px solid;
    padding: 10px;
     }
.background {
    background: #eee;
    padding: 30px;
    margin-bottom: 30px;
    
}
.Designer{
    margin: 5px;
    display: inline-flex;
    padding: 5px;
}
.col-sm-9{
    width: 400px;
}

.Button{
    display: inline-flex;
    padding: 10px;
    margin: 5px;
    }
#Title{
    background: Navy;
    color: aqua;
    
}
